body{
    font-family: sans-serif;
}

.feed{
    border:1px solid lightgrey;
    width: 560px;
    padding: 10px;
    border-radius: 14px;
    margin: 60px auto

}

.feed-img{
    width:100%;
    border-radius: 14px;
}

.profile{
    display: flex;
     margin-bottom: 24px;
     gap: 10px;
    align-items: center;
  
}

.user{
    width:50px;
    height:50px;
    border: none;
    border-radius: 50%;
    object-fit: cover;

}

.username{
    font-size: 14px;
    color: gray;
}