body{
    font-family: sans-serif;
}

.card{
    border:1px solid lightgray;
    padding:10px;
    border-radius: 14px;
    width:250px;
}

.card-img{
    width:100%;
    height:160px;
    object-fit: cover;
    border-radius: 14px;
}

.flexbox{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

